html {
    height: 100vh;
}

html, body, header {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: slategrey;
    position: relative;
    border-bottom: 3px solid darkslategray;
}

header a {
    text-decoration: none;
    color: white;
    height: 100%;
}

header a .naslov h1 {
    position: absolute;
    top: 25%;
    margin-left: 1%;
    vertical-align: middle;
    display: inline;
}

.naslov {
    display: inline;
    vertical-align: middle;
    height: 100%;
    line-height: 25%;
}

a[href="#tijelo"] {
    float: left;
}

a[href="#zaglavlje"] {
    padding: 0.6%;
    float: right;
}

#zaglavlje:target + nav {
    display: block;
}
    
#tijelo:target > nav {
    display: none;
}

main {
    height: auto;
}

nav {
    display: none;
    background-color: slategray;
    height: 100vh;
    width: 18vw;
    position: absolute;
    right: 0;
    border-left: 3px solid darkslategray;
}

nav ul {
    list-style-type: none;
    padding: 4%;
}

nav ul li {
    margin: 8% 0%;
    padding: 8% 0%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8%;
    border: 2px solid ;
    border-radius: 25px;
    background-color: gray;
}

nav ul li a:hover{
    background-color: lightblue;
}

footer {
    border-top: 2px solid rgb(72, 80, 90);
    margin-top: 10%;
    padding-top: 2%;
    float: bottom;
    background-color: slategray;
    width: 100%;
    text-align: center;
    z-index: -1;
}


header {
width: 100%;
height: 80px;
}

a[href="#tijelo"] {
    float: left;
    width: 30%;
}

a[href="#zaglavlje"] {
    float: right;
}

header h1 {
    display: inline;
}

div {
    display: block;
}

.animacija {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.animacija figure {
    margin: 0;
    position: absolute;
    animation: slajdanje 10s infinite;
    height: 500px;
    left: 500px;
    width: 500px;
}

#slika2 {
    animation-delay: 2.5s;
}

#slika3 {
    animation-delay: 5s;
}

#slika4 {
    animation-delay: 7.5s;
}

@keyframes slajdanje {
    0%{
        top: 0;
        left: 500px;
    }
    25%{
        top: 0;
        left: 0px;
    }
    50%{
        bottom: -500px;
        left: -500px;
    }
    75%{
        bottom: -500px;
        left: 500px;
    }
}

.clanci {
    margin: auto;
    margin-left: 0%;
}

.clanci article{
    display: table-cell;
    width: 20%;
    padding: 0% 3%;
}

.clanci article p {
    text-align: justify;
}

.autor {
    margin: 0 auto;
    width: 60%;
}

.autor ul {
    display: table;
    margin: 0 auto;
}

.obrazac_registracije, .obrazac_prijave, .obrazac_prikaza, .obrazac_multimedije {
    margin: auto;
    margin-top: 2%;
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
    border: 2px solid darkslategray;
    background-color: lightgray;
}

.obrazac_registracije form {
    padding: 2%;
}

table {
    margin: auto;
    margin-top: 2%;
}

table, th, td {
    border: 2px solid gray;
    border-collapse: collapse;
}